name: Sync Windows Programs

permissions:
  contents: write

on:
  push:
    branches: [ release ]
  release:
    types: [ created ]
  workflow_dispatch:
    inputs:
      ref_name:
        description: '镜像标签（如 v1.6.10）'
        required: true
        default: 'v1.0.0'

jobs:
  sync-launcher-assets:
    name: Sync AMMDS-Launcher Release Assets
    if: github.event_name == 'release' && github.event.release.target_commitish == 'master'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: 提取当前发布的 Tag
        id: get_tag
        run: |
          echo "tag_name=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "当前 Tag: ${GITHUB_REF#refs/tags/}"

      - name: 下载 AMMDS-Launcher 对应 tag 的 release 信息
        run: |
          curl -s \
            https://api.github.com/repos/QYG2297248353/AMMDS-Launcher/releases/tags/${tag_name} \
            -o launcher_release.json

      - name: 下载 AMMDS-Launcher 的 .exe 资产
        run: |
          mkdir launcher_assets
          for row in $(jq -c '.assets[] | select(.name | endswith(".exe"))' launcher_release.json); do
            name=$(echo "$row" | jq -r '.name')
            url=$(echo "$row" | jq -r '.browser_download_url')

            echo "下载：$name"
            curl -L "$url" -o "launcher_assets/$name"
          done

      - name: 上传 .exe 到当前 release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for file in launcher_assets/*.exe; do
            echo "上传：$file"
            gh release upload "${tag_name}" "$file" --clobber
          done

